<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!--版本控管-->
  <add key="SYS_DefaultVersion" value="3.0"/>
  <!--可使用的版號-->
  <add key="SYS_SupportedVersions" value="4.0;3.0;2.1;2.0;1.0"/>
</appSettings>
